{% extends 'base.html.twig' %}

{% block body %}
    <body class="container" style="background-image:url('{{ asset('assets/images/img_0046.jpg') }}')">
        <div id="wrapper" style="height: 500px;">
            <div ID="change" class="container-fluid row justify-content-center vertical-align">
                <div class="col-sm-4">
                    <img src="{{ asset('assets/images/photoperso.jpg') }}" class="img-presentation">
                </div>
                <div class="col-sm-8">
                    <h3>Nicolas Touzanne</h3>
                    <div id="paragraphe" style="width: 500px;">
                        <p>
                        Je suis en reconversion professionnelle à l'Adrec Auvergne à Clermont-Ferrand.
                        Apres avoir acquis un diplôme en Psychologie avec lequel je n'ai pas pas eu l'occasion d'exercer,
                        je suis passé par de nombreuses activités professionnelles qui m'ont mené à me reformer et m'investir
                        dans un domaine continuellement en changement.
                        </p>
                        <p>
                        Passionné par les nouvelles technologie depuis mon enfance, je desire
                        devenir développeur en informatique et apprendre divers langages en plus de ceux sur lesquels je me forme
                        Mes langages de programmation preferés sont: Le Javascript, Le PHP/Symfony et le Java.
                        </p>
                    </div>
                 </div>
            </div>
        </div>

        <div id="content">
            <ul>
                <h3> la liste de mes articles</h3>
                <li>...</li>
            </ul>
        </div>
    </body>
{% endblock %}
{% block time %}
    <time>{{createDate|date("d/m/Y")}}</time>
{% endblock %}
