{% extends 'base.html.twig' %}
{% trans_default_domain 'contact' %}

{% block body %}
    <p id="confirm">
        Le formulaire a bien été rempli . Je vous contacterai sous de plus brefs délais.
    </p>
{% endblock %}